<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
 <style>
 	.col-product {

        background-color: hotpink;
        border: 20px black;
        margin: 2px 5px 8px;
        border-radius: 7px;
        box-shadow: 4px 5px silver;
        width: 33%;
        height: auto;

        flex-flow: column wrap;
    }

	.ali {
	  box-sizing: border-box;
	  font-size: 22px;
	  font-family: "Helvetica", sans-serif;
	  color: #333333;
}

	.reza {
	  background-color: #f2f2f2;
	  padding: 10px;
	  border: 2px solid #CCCCCC;
	  max-width: 900px;
	  margin: 0 auto;
	  height: auto;
	  display: inline-flex;
	  flex-flow:row wrap; /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
	  justify-content: flex-start;
	  align-items: center;
}

	.item {
	  background-color:silver;
	  height: 300px;
	  width: 30%;
	  margin: 1%;
	  padding: 10px;
	  border-radius: 7px;
}
.btn-facebook {
	  margin-top:5px;
	  background: #3B5998;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #263961; 
	}
	.btn-facebook:link, .btn-facebook:visited {
	  color: #fff;
	}
	.btn-facebook:active, .btn-facebook:hover {
	  background: #263961;
	  color: #fff;
	}

	 .profilePicture .img-responsive:hover {
            opacity: 0.8;
        }

        .profilePicture img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: 0px;
            width: 250px;
            height:250px;
            max-width: 250px;
            max-height: 250px;

        }

        .profilePicture .text {
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            visibility: hidden;
            width: 250px;
            height: 30px;
            font-family: "Maiandra GD";
        }
        .profilePicture:hover .text {
            visibility:visible;
        }

        .profilePicture .text1 {
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            visibility: visible;
            text-decoration-color:red;
            width: 250px;
            height: 30px;
            font-family: "Maiandra GD";
        }
        .profilePicture:hover .text1 {
            visibility:visible;
        .image {
            max-width: 280px;
            padding: 15px;
            margin: 0 auto;
        }
           .profilePicture .text2 {
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            visibility: visible;
            background-color:red;
            width: 220px;
            height: 100px;
            font-family: "sans-serif";
        }
        .profilePicture:hover .text2 {
            visibility:visible;
        .image {
            max-width: 280px;
            padding: 15px;
            margin: 0 auto;
        }
        .container {
            padding-right: 45px;
            padding-left: 45px;
            margin-right: auto;
            margin-left: auto;
            font: "Maiandra GD";
            border-spacing: 10px;

        }

        .blank_row {
            height: 10px !important; /* Overwrite any previous rules */
            background-color: #FFFFFF;
        }

        .image {
            max-width: 280px;
            padding: 15px;
            margin: 0 auto;
        }

        .error {
            color: red;
        }

</style>